:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: dark;
  color: #00ff00;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: black;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #00ff00;
  color: black;
}
